@pale_pink: #f7f7f7;
@white: #fff;
@dark-blue: #4d4959;
@black: #000;
@grey: #848789;


@import "import/fonts.less";

.all-null() {
    margin: 0;
    padding: 0;
}
.font-param(@font-size, @font-weight, @line-height, @color, @transform) {
   font-size: @font-size;
   font-weight: @font-weight;
   line-height: @line-height;
   color: @color;
   text-transform: @transform;
}
body {
	font-family: "Lato", "Arial", sans-serif;
    .font-param(16px, 400, 30px, @grey, none);
	background-color: @pale_pink;
}
img {
	max-width: 100%;
	height: auto;
}
a {
    text-decoration: none;
    .all-null();
}
ul {
   list-style: none;
   .all-null();
}
li, p {
  .all-null();
}
.visually-hidden {
	position: absolute;
	clip: rect(0 0 0 0);
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	overflow: hidden;
}

.bicycle-info__header,
.bicycle-examples-all--right__header,
.bicycle-examples-all--left__header,
.bicycle-examples-all--center__header {
   .all-null();
   .font-param(18px, 700, 18px, @dark-blue, uppercase);
}
.main-nav__list a {
   .font-param(13px, 700, 13px, @dark-blue, uppercase);
}
.bicycle-info__descr {
  .font-param(18px, 400, 34px, @grey, none);
}
.bicycle-examples-all--right__descr,
.bicycle-examples-all--left__descr,
.bicycle-examples-all--center__descr {
  .font-param(16px, 400, 30px, @grey, none);
}
.quotes__quote-item-1__wrap cite{
  .font-param(18px, 700, 18px, @dark-blue, none);
}
.quotes__quote-item-1 {
  .font-param(24px, 400, 34px, @grey, none);
  font-style: italic;
}
.shop-tools__button,
.discover-shop__button {
  .font-param(14px, 700, 14px, @white, uppercase);
}
.call-back__descr {
  .font-param(24px, 400, 34px, @grey, none);
  font-style: italic;
}
.email-form__button {
  .font-param(24px, 300, 24px, @white, uppercase);
}
.page-footer__contact-header {
  .font-param(16px, 700, 18px, @grey, none);
}
.page-footer__contact-text {
  .font-param(14px, 400, 18px, @grey, none);
  font-style: italic;
}


