@import url('import/fonts.less');
@pale_pink: #f7f7f7;
@white: #fff;
@dark-blue: #4d4959;
@black: #000;
@grey: #848789;
@pale-grey: #eeeff5;
@light-grey: #d3d7d9;
@dark-grey: #282f35;
@green: #64c29e;
.all-null() {
    margin: 0;
    padding: 0;
}
.font-param(@font-size, @font-weight, @line-height, @color, @transform) {
    font-size: @font-size;
    font-weight: @font-weight;
    line-height: @line-height;
    color: @color;
    text-transform: @transform;
}
.bg-param(@bg-color, @bg-image, @bg-repeat, @bg-position) {
    background: @bg-color @bg-image @bg-repeat @bg-position;
}
body {
    font-family: "Lato","Arial",sans-serif;
    .font-param(16px,400,30px,@grey,none);
    background-color: @pale_pink;
    min-width: 320px;
}
img {
    max-width: 100%;
    height: auto;
}
a {
    text-decoration: none;
    .all-null();
}
ul {
    list-style: none;
    .all-null();
}
li, p {
    .all-null();
}
.visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
}
.main-wrapper {
    max-width: 1600px;
    width: 100%;
    box-shadow: 0 5px 15px rgba(0,0,0,0.20);
    position: relative;
}
.page-header {
    .bg-param(@pale-grey,url(../img/jpg/top-bicycle.jpg),no-repeat,center top);
    min-height: 800px;
}
.bicycle-info__header, .bicycle-examples-all--right__header, .bicycle-examples-all--left__header, .bicycle-examples-all--center__header {
    .all-null();
    .font-param(18px,700,18px,@dark-blue,uppercase);
    letter-spacing: 3.6px;
    position: relative;
}
.logo-wrap-param () {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 34px;
}
.page-header__logo-wrap {
    .logo-wrap-param;
    top: 34px;
}

.main-nav__list {
    display: flex;
    padding: 3.7% 0 0 0;
    margin: 0 30.5%;
    justify-content: space-between;
    @media (min-width:480px) and (max-width:1200px) {
        margin: 0 10%;
    }
    @media (max-width:480px) {
        display: block;
        margin: 0;
        padding: 4%;
    }
    li {
        flex-grow: 1;
    }
    li:nth-child(3) {
        padding-right: 29%;
    }
    a {
        .font-param(13px,700,13px,@dark-blue,uppercase);
        letter-spacing: 2.6px;
    }
}
@media (max-width:480px) {
    .main-nav__list {
        li:nth-child(2), li:nth-child(5) {
            display: none;
        }
    }
}

/*.main-nav__list {
    display: flex;
    padding: 3.7% 0 0 0;
    margin: 0 27%;
    justify-content: space-between;
    @media (min-width:480px) and (max-width:768px) {
        margin: 0 10%;
    }
    @media (max-width:480px) {
        display: block;
        margin: 0;
        padding: 4%;
    }
    li {
        flex-grow: 1;
    }
    li:nth-child(3) {
        padding-right: 27%;
    }
    a {
        .font-param(13px,700,13px,@dark-blue,uppercase);
        letter-spacing: 2.6px;
    }
}
@media (max-width:480px) {
    .main-nav__list {
        li:nth-child(2), li:nth-child(5) {
            display: none;
        }
    }
}*/


.bicycle-info-icon-param () {
        content: "";
        position: absolute;
        display: inline-block;
        vertical-align: top;
        background-repeat: no-repeat;
        left: 50%;
        transform: translateX(-50%);
        }

  .bicycle-info__header::before {
  .bicycle-info-icon-param;
  background-image: url("../img/icon/about-us.png");
  bottom: 50px;
  height: 43px;
  width: 52px;
  }
.bicycle-examples-all--right__header::before {
  .bicycle-info-icon-param;
  background-image: url("../img/icon/work-bike-1-logo.jpg.png");
  bottom: 50px;
  height: 30px;
  width: 41px;
    @media (max-width:1600px) {
          display: none;
        }
}
.bicycle-examples-all--left__header::before {
  .bicycle-info-icon-param;
  background-image: url("../img/icon/work-bike-2-logo.jpg.png");
  bottom: 50px;
  height: 32px;
  width: 32px;
    @media (max-width:1600px) {
          display: none;
        }
}
.bicycle-examples-all--center__header::before {
  .bicycle-info-icon-param;
  background-image: url("../img/icon/work-bike-3-logo.jpg.png");
  bottom: 45px;
  height: 41px;
  width: 23px;
    @media (max-width:1600px) {
          display: none;
        }
}

.bicycle-info__wrap {
    text-align: center;
    padding: 192px 15.6% 133px;
}
.bicycle-info__descr {
    .font-param(18px,400,34px,@grey,none);
    margin-top: 25px;
}
.bicycle-examples-all--right__descr, .bicycle-examples-all--left__descr, .bicycle-examples-all--center__descr {
    .font-param(16px,400,30px,@grey,none);
    padding: 15px 55px 0;
    @media (max-width:1600px) {
        padding: 5px 10px 0;
    }
}
.bicycle-examples-param() {
    width: 100%;
    background-size: 66.69%;
}
.bicycle-examples-wrap-param() {
    box-sizing: border-box;
    width: 33.33%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media (min-width:1200px) and (max-width:1600px) {
        padding-top: 10px;
    }
    @media (max-width:1200px) {
        width: 100%;
        align-items: center;
        padding-top: 5%;
    }
}
.bicycle-examples-all--right {
    .bg-param(@white,url(../img/jpg/work-bg-1.jpg),no-repeat,left top);
    .bicycle-examples-param();
    @media (max-width:1200px) {
        background: @white;
    }
    &_wrap {
        .bicycle-examples-wrap-param();
         padding-top: 130px;
         margin-left: auto;
    }
    &__descr {
        margin-bottom: 35px;
    }
    &__hr {
        width: 50px;
        margin-bottom: 50px;
    }
}
.bicycle-examples-all--left {
    .bg-param(@white,url(../img/jpg/work-bg-2.jpg),no-repeat,right top);
    .bicycle-examples-param();
    @media (max-width:1200px) {
        background: @pale-grey;
    }
    &_wrap {
        .bicycle-examples-wrap-param();
         padding-top: 123px;
      margin-right: auto;
    }
    &__descr {
        margin-bottom: 34px;
    }
    &__hr {
        width: 50px;
        margin-bottom: 58px;
    }
}
.bicycle-examples-all--center {
    background-image: url(../img/jpg/work-bg-3-left.jpg),url(../img/jpg/work-bg-3-right.jpg);
    background-color: @white;
    background-repeat: no-repeat,no-repeat;
    background-position: left top,right top;
    width: 100%;
    background-size: 33.4%,33.4%;
    @media (max-width:1200px) {
        background: @white;
    }
    &_wrap {
        .bicycle-examples-wrap-param();
        margin: 0 auto;
        padding-top: 123px;
    }
    &__descr {
        margin-bottom: 33px;
    }
    &__hr {
        width: 50px;
        margin-bottom: 60px;
    }
}
.quotes {
    text-align: center;
    padding: 180px 15.6% 157px;
    &__quote-item-1__wrap cite {
        .font-param(18px,700,18px,@dark-blue,none);
    }
    &__quote-item-1 {
        .font-param(24px,400,34px,@grey,none);
        font-style: italic;
        margin-top: 10px;
    }
}
.shop-tools__wrap {
    width: 100%;
    display: flex;
}
.shop-tools-wraps-param () {
    min-height: 532px;
    width: 33.33%;
    background-repeat: no-repeat;
}
.shop-tools__wrap1 {
    .shop-tools-wraps-param;
    background-image: url(../img/jpg/shop-left-1.jpg),url(../img/jpg/shop-left-2.jpg),url(../img/jpg/shop-left-3.jpg);
    background-position: left top,right top,left bottom;
    @media (max-width:768px) {
        display: none;
    }
}
.shop-tools__wrap2 {
    .shop-tools-wraps-param;
    background-image: url(../img/jpg/shop-center-1.jpg),url(../img/jpg/shop-center-2.jpg);
    background-position: left top,right top;
    @media (max-width:768px) {
        width: 50%;
    }
    @media (max-width:480px) {
        display: none;
    }
}
.shop-tools__wrap3 {
    .shop-tools-wraps-param;
    background-image: url(../img/jpg/shop-right-1.jpg),url(../img/jpg/shop-right-2.jpg),url(../img/jpg/shop-right-3.jpg);
    background-position: left top,left bottom,right bottom;

    @media (max-width:768px) {
        width: 50%;
    }
    @media (max-width:480px) {
        width: 100%;
    }
}

.shop-tools__button-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 269px;
  margin-top: 4%;
}

.shop-button-param () {
    .font-param(14px,700,14px,@white,uppercase);
    letter-spacing: 2.8px;
}
.shop-tools__button {
    .shop-button-param;

    position: relative;
}

.shop-tools__button::before {
        content: "";
        position: absolute;
        display: inline-block;
        vertical-align: top;
        background-repeat: no-repeat;
        left: 50%;
        transform: translateX(-50%);
        background-image: url("../img/icon/bicycle.png");
        top: -40px;
        height: 30px;
        width: 51px;
  }



.discover-shop__wrap {
    min-height: 200px;
    background-color: @dark-grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.discover-shop__button {
    .shop-button-param;
    border: 1px solid @white;
    padding: 20px 3.5%;
}
.call-back {
    position: relative;
    background-color: @white;
    &__logo-wrap {
        .logo-wrap-param;
        top: 110px;
    }
    &__descr {
        .font-param(24px,400,34px,@grey,none);
        font-style: italic;
        display: block;
        text-align: center;
        padding-top: 225px;
        margin: 0 auto;
    }
}
.email__wrap {
    width: 34%;
    padding: 30px 0 113px;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    @media (max-width:768px) {
        width: 80%;
    }
}
.email__input {
    box-sizing: border-box;
    min-height: 72px;
    width: 74%;
    padding: 0;
    border: 1px solid @light-grey;
    margin-right: 1.4%;
    vertical-align: bottom;
}
.email-form__button {
    .font-param(24px,300,24px,@white,uppercase);
    box-sizing: border-box;
    min-height: 70px;
    background-color: @green;
    width: 23%;
    border: none;
    margin: 0;
    padding: 24px 0;
    vertical-align: bottom;
}
.page-footer__wrap {
    display: flex;
    padding: 94px 15.5%;
    align-items: center;
    @media (max-width:768px) {
        padding: 94px 5%;
    }
}
.page-footer__contacts {
    padding-right: 22%;
    @media (max-width:480px) {
        padding-right: 0;
    }
}
.social-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: 34px;
}
.social-links a {
    padding-right: 32%;
}
.page-footer__contact-header {
    .font-param(16px,700,18px,@grey,none);
}
.page-footer__contact-text {
    .font-param(14px,400,18px,@grey,none);
    font-style: italic;
}
